@page "/MustBeLoggedInToView"
@attribute [Authorize]

<h3>Must Be Logged In To View</h3>

<p>You can only access this page, if you're logged in. Given that you're seeing this, you're logged in</p>

@code {
    
}