@page "/Questions"
@using Elearn.BlazorWASM.Pages.UIComponents
@using Elearn.HttpClients.Service
@using Elearn.Shared.Dtos
@inject IQuestionService QuestionService


<h2>Questions</h2>
@if (_questions is null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7"/>
}
else
{
    @if(!_questions.Any())
    {
        <p>No questions found</p>
    }
    else
    {
        @foreach (QuestionDto questionDto in _questions)
        {
    
            <QuestionCard QuestionDto="@questionDto" />
        }
    }
}
@if (!string.IsNullOrEmpty(message))
{
    <MudText Text="@message" Color="Color.Error" />
}

@code {
    private string message = "";
    private IEnumerable<QuestionDto>? _questions;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _questions = await QuestionService.GetAllQuestionsAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
      
    }
}