  
<div class="comments">
<div class="card">
        <div class="form-group field flex-container">
            <MudAvatar Size="Size.Medium" Image = "img/avatar.jpg"/>
            <div class="comment-content">@Text</div>
        </div>
    </div>
</div>
   @code {
       
    [Parameter]
    public string Text { get; set; }
}