@page "/Moderator"
@using System.Security.Claims
@using Elearn.Shared.Dtos
@using Elearn.Shared.Models
<h3 class="align-content-center">Moderator</h3>
 @if (CurrentUser == null)
                     {
                         <span> No users found</span>
                     }
                     else
                     {
                         <MudGrid Class="my-6" Justify="Justify.Center">
                             @foreach (var lectures in _userToShow)
                             {
                                 <MudItem xs="12" sm="9" md="7">
                                     <History Lecture="@lectures"></History>
                                 </MudItem>
                                 
                             }
                         </MudGrid>
                     }
@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    private IEnumerable<Claim>? userClaims;
    private string? username;
    private bool isLoggedIn;
    private List<LectureDto?> _lectureToShow = new List<LectureDto?>();
    private List<UserDto?> _userToShow = new List<UserDto?>();
    private bool _hidePosition;
    private bool _loading;
    public UserDto? CurrentUser;
    public UpdateUserDto Dto = new();
}