<link href="Footer.razor.css" rel="stylesheet"/>
<!-- Footer -->
<footer class="text-center text-lg-start text-white p-md-12"
        style="background-color: #3e4551">

    <!-- Tests-->
    <div class="container-fluid  text-white p-3" style="font-family: 'Serif', sans-serif; background: #3e4450;">

        <div class="mt-3 ">
            <h3 class="text-center fw-bold">Want to learn with us?</h3>
            <p class="text-center">We are a community that share knowledge for learning</p>
            <hr>
        </div>

        <div class="row justify-content-around text-center text-md-start">

            <div class="col-md-2 text-center">
                <h2 class="fw-bold mt-3 ">Elearn</h2>
                <h2>Team 5</h2>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2">Partnership</li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Resources</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white"> Social Media</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Website</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2">About</li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Our Project</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Careers</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">About us</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2">Product</li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Teachers</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Students</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Universities</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2">Contact</li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Address</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Support</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Phone</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center pt-2">
                <p>&copy; 2022 Copyright</p>
            </div>
        </div>
    </div>


</footer>
<!-- Footer -->

<!-- End of the container -->