@inherits LayoutComponentBase


<NavMenu/>
<main>
    <article class="content">
        @Body
    </article>
</main>

<Footer/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = true;

}