@inherits LayoutComponentBase


<NavMenu/>
<main>
    @Body
</main>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = true;

}