@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="LoginTest" >Register</a>
             <a href="LoginTest">Login</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <MudThemeProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>
</div>