@inherits LayoutComponentBase


<NavMenu/>
<main style="background-color: #100720">

    <article class="content px-4">
        @Body
    </article>
</main>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>