@using Elearn.Shared.Models
 <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">@Post.Title</h5>
                    <p class="card-text">
                        <span class="text-muted">@Post.DateCreated </span>
                    </p>
                    <a href="/posts/@Post.Url" class="btn btn-primary">Read more...</a>
                </div>
            </div>
@code {
    [Parameter]
    public Post Post { get; set; }
}